{% extends '::base.html.twig' %}

{% block caption %}
    {% set c = e.caption %}
    {% if e.getParent() %}
        {% set e = e.getParent() %}
        {{ block('caption') }}>
    {% endif %}
    {{ c }}
{% endblock %}

{% block body -%}

<div id="content">
    <h1>Parameter list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Key</th>
                <th>Caption</th>
                <th>Type</th>
                <th>Units</th>
                <th>Sort</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('parameter_show', { 'id': entity.id }) }}">{{ entity.key }}</a></td>
                <td style="font-size: 8pt;">
                    {% set e = entity.getParent() %}
                    {% if e %}
                        {{ block('caption') }} >
                    {% endif %}
                    {{ entity.caption }}
                </td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.units }}</td>
                <td>{{ entity.sort }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('parameter_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('parameter_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('parameter_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
</div>
{% endblock %}
