{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Parameter</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Parent</th>
                <td>{{ entity.parent }}</td>
            </tr>
            <tr>
                <th>Caption</th>
                <td>{{ entity.caption }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Units</th>
                <td>{{ entity.units }}</td>
            </tr>
            <tr>
                <th>Sort</th>
                <td>{{ entity.sort }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('parameter') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('parameter_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('parameter_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
